<!-- JumboTrop -->
<div class='jumbotron'>
  <div class='row'>
    <div class='col-md-4'>
      <h2 class='text-center'>Track Them</h2>
    </div>
    <div class='col-md-4'>
      <h2 class='text-center'>Meet Them</h2>
    </div>
    <div class='col-md-4'>
      <h2 class='text-center'>Sell Them</h2>
    </div>
  </div>
  <hr/>
  <div class='row'>
    <div class='col-md-12'>
      <h1 class='text-center'>Conte</h1>
      <h2 class='text-center'><small>Simple Customer Relations Management Solution</small></h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 col-md-offset-4 text-center'>
      <%= link_to 'Get Started', registration_path, class: 'btn btn-small btn-info' %>
    </div>
  </div>
</div>

<!-- Details -->
<div class='row'>
  <div class='col-md-4'>
    <h3>Simple Customer Organization</h3>
    <p>You've got a bustling business, or you are just starting out.
    You've got clients, potentials, references, referrals, and follow ups.
    You've got to get it all organized.</p>
    <p>Conte gives you the power to organize your contacts and
    move them from being prospective clients to regular customers</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-4 col-md-offset-8'>
    <h3>Automated Follow Up Prompts</h3>
    <p>You have the contacts, you have the referrals, now you need to 
    follow up with them.</p>
    <p>Conte gives you the power to organize and schedule follow up
    dates. Select when you want to contact your potential client next,
    whether it be a day, a couple days, a week, or a month, and Conte
    will do the rest. Log on each morning to see who needs to be 
    followed up with that day. No more going through names the day of
    to determine who you should be contacting.</p>
  </div>
</div>

<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <h3>Track Potential Clients in Your Pipeline</h3>
    <p>You met someone at a networking event. Someone else through
    a referral. And yesterday someone called you because they saw 
    your website. These are all clients in the making, and if you
    don't keep track of them, you can miss out on a business 
    opportunity.</p>
    <p>Conte enables you to visualize where your potential clients are at
    and gives you the ability to see the next steps to move them from
    interested to sold.</p>

  </div>
</div>

<%= render 'layouts/footer' %>
