/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 @import url(http://fonts.googleapis.com/css?family=Quicksand:400,300|Chau+Philomene+One|Cinzel:400,900);

 $serif-font: 'Cinzel';
 $sans-serif-font: 'Quicksand';
 $font-family-sans-serif:$sans-serif-font;
 $font-family-serif: $serif-font;
 $font-family-base: $font-family-sans-serif;
 $navbar-default-bg: #312312;
 $body-bg: #CCCC33;
 $border-radius-base: 1em 0.3em 1em 1em;
 @import "bootstrap-sprockets";
 @import "bootstrap";



 .jumbotron {
 
  box-shadow: 0 0 5em 1em #000000;
  
    h2 {
      text-shadow: 2.2em .8em .3em #000000;
    }
  h1 {
    font-family: 'Cinzel';
    font-weight: 900;
  }
}

div.contact-card {
  position: relative;
}

span.days-till-follow-up {
  padding: 5px;
  background-color: #33EEEE;
  border-radius: 1em 0.3em 1em 1em;
  position: absolute;
  top: 15px;
  right: -15px;
}
